body {
    display: flex;
    flex-direction: column;
    font-family: Roboto; sans-serif;
    margin: 0;
}

.nav,
.hero {
    background-color: #1F2937;
    color: white;
    padding: 8px 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.nav {
    padding-bottom: 64px;
}

.nav-item-logo {
    font-size: 20px;
    font-weight: 700;
}

.nav-right {
    display: flex;
    gap: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.hero-text {
    margin-right: 20px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-sub-text {
    color: rgba(255, 255, 255, 0.767);
    margin-top: 12px;
    margin-bottom: 12px;
}

.hero-signup-button {
    background-color: #2563EB;
    color: white;
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 64px;    
}

.hero-image {
    width: 600px;
    height: 400px;
    background-color: #374151;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    margin-bottom: 64px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    padding: 64px 128px;
    margin-bottom: 56px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
}

.info-container  {
    display: flex;
    gap: 64px;
}    

.info-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    max-width: 100px;
}

.info-sub-placeholder {
    width: 100px;
    height: 100px;
    border: 2px solid #2563EB;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-sub-text {
    font-size: 12px;
    font-weight: 500;
    text-align: center  ;
}

.quote {
    background-color: #E5E7EB;
    padding: 128px 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text {
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    font-weight: bold;
    align-self: flex-end;
    font-size: 18px;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 88px 128px;
    background-color: #3882F6;
    color: white;
    padding: 32px 98px;
    border-radius: 10px;
    gap: 36px;
}

.signup-text {
    font-size: 18px;
    font-weight: 700;
}

.signup-button {
    background-color: #3882F6;
    color: white;
    font-size: 14px;
    font-weight: 900;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 25px;
}

.footer {
    background-color: #1F2937;
    color: white;
    padding: 32px 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}
